{% extends 'base/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="main-content main-content-list container">
    {% comment %} recipes é a variável que recebe a lista na função home(), em views.py {% endcomment %}
    {% for recipe in recipes %}
        {% if recipes|length == 1 %}
            <div style="margin: 0 auto;">
                {% include 'partials/recipe.html' %}
            </div>
        {% else %}
            {% include 'partials/recipe.html' %}
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}