<div class="main-content container">

    <!-- 
        enctype="multipart/form-data" 
        é obrigatório o uso desse termo, sempre que o form trabalhar
        com arquivos.
    -->
    <form class="main-form" action="{{ form_action }}" method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}
        

        <div class="form-content form-content-grid">

            {% for field in form %}
                <!-- Para cada campo do formulário, crie um grupo. -->
                <div class="form-group {{ field.field.widget.attrs.class }}">

                    <!-- Label do campo -->
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    <!-- campo -->
                    {{ field }}

                    <!-- Texto explicativo do campo, se houver -->
                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}

                    <!-- Apresenta erros, se existirem -->
                    {{ field.errors }}

                </div>

                {% if field.name == 'cover' and field.value.url %}
                    <div class="span-2">
                        <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}">
                    </div>
                {% endif %}
                
            {% endfor %}

        </div>

        <div class="form-content form-content-grid">
            <div class="form-group">
                <button type="submit">Enviar</button>
            </div>
        </div>
            
    </form>

</div>
